<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhBbUEBEyyc7x2kpcsDyzswg-fD3divn0</string>
	<key>GCM_SENDER_ID</key>
	<string>51573968855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vihvelibre.app</string>
	<key>PROJECT_ID</key>
	<string>vihve-libre-19ffb</string>
	<key>STORAGE_BUCKET</key>
	<string>vihve-libre-19ffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51573968855:ios:49eead7282be85bf490592</string>
</dict>
</plist>